#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Emacs China
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=kfkdmclihjambbinpnmpodjeoojmpkmp
Icon=chrome-kfkdmclihjambbinpnmpodjeoojmpkmp-Default
StartupWMClass=crx_kfkdmclihjambbinpnmpodjeoojmpkmp
